body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

.questions {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}




header {
  position: absolute;
  top: 0;
  font-size: 32px;
  font-weight: bold;
  margin: 20px auto 40px auto;
  color: #2899D4;
}

small {
  font-weight: normal;
}

.order-total {
  display: block;
  text-align: center;
  margin: 20px 0;
  position: relative;
  top: 50%;
}

.order-total form {
  /* display: inline-block;
  margin: 0 auto; */
  text-align: center;
  font-weight: bold;
  
}

.order-total label {
  font-size: 24px;
}

.order-total input {
  margin: 20px 0;
  height: 25px;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0.5px solid #ffffff;
  text-align: center;
}

.person {
  display: flex;
  justify-content: space-around;
  border-top: .5px solid #2899D4;
  padding: 20px 0;
  margin: 0 auto;
  font-size: 24 px;
}

.person h3 {
  margin: 0;
  font-size: 24px;
}

.person form {
  padding-top: 20px;
}

.person input {
  height: 20px;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0.5px solid #ffffff;
  width: 40%;
}

.person label, p {
  font-size: 18px;
}

.button {
  text-align: center;
  border-top: 0.5px solid #2899D4;
  padding: 20px 0;
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: #2899D4;
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
  border: 0.5px solid #ffffff;
  padding: 5px 8px;
}

button a {
  background-color: #2899D4;
  color: #ffffff;
  font-weight: bolder;
  text-decoration: none;
}

.breakdown {
  text-align: center;
}

.person-details {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.person-details p {
  margin: 0px;
}

.breakdown h2 {
  text-align: center;
  font-size: 24px;
}

.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  font-size: 8px;
  bottom: 100%;
  left: 50%;
  font-weight: bold;
  width: 75px;
  background-color: #2899D4;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#qty-label {
  margin-left: 20px;
}

#qty-input  {
  width: 25px;
}

#item {
  width: 75px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.false {
  display: none;
}




@media (max-width: 1000px) {
  .person {
    display: block;
  }

  .breakdown {
    margin: 0 auto;
  }

  .person-details {
    display: block;
    text-align: center;
  }

  .total-details {
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .total-details h3, form, input {
    text-align: center;
    margin: 0 auto;
  }


  .button-subtotal {
    text-align: center;
  }

}