body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  background-color: #F8F8F8;
  font-family: 'Raleway', sans-serif;
}

header {
  font-size: 32px;
  font-weight: bold;
  width: 90%;
  margin: 20px auto 40px auto;
  color: #0066FF;
}

.order-total {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.order-total form {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  font-weight: bold;
}

.order-total label {
  font-size: 18px;
}

.order-total input {
  margin-bottom: 8px;
  margin-top: 8px;
  height: 20px;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0.5px solid #ffffff;
}

.person {
  display: flex;
  justify-content: space-around;
  border-top: .5px solid #0066FF;
  padding: 20px 0;
  width: 90%;
  margin: 0 auto;
  font-size: 18 px;
}

.person h3 {
  margin: 0;
  font-size: 18px;
}

.person form {
  padding-top: 20px;
}

.person input {
  height: 20px;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0.5px solid #ffffff;
}

.button {
  text-align: center;
  border-top: 0.5px solid #0066FF;
  padding: 20px 0;
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: #0066FF;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  border: 0.5px solid #ffffff;
  padding: 5px 8px;
}

.breakdown {
  width: 450px;
}

.person-details {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.person-details p {
  margin: 0px;
}

.breakdown h3 {
  text-align: center;
  font-size: 16px;
}

.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  font-size: 8px;
  bottom: 100%;
  left: 50%;
  font-weight: bold;
  width: 75px;
  background-color: #0066FF;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 1000px) {
  .person {
    display: block;
  }

  .breakdown {
    margin: 0 auto;
    width: 90%;
  }

  .person-details {
    display: block;
    text-align: center;
  }

  .total-details {
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .total-details h3, form, input {
    text-align: center;
  }
}