body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  background-color: #F0F0F0;
}

header {
  font-size: 24px;
  font-weight: bold;
  width: 90%;
  margin: 20px auto 40px auto;
  color: #0066FF;
}

.order-total {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.order-total form {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  font-weight: bold;
}

.order-total label {
  font-size: 18px;
}

.order-total input {
  margin-bottom: 8px;
  margin-top: 8px;
  height: 20px;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0.5px solid #ffffff;
}

.person {
  display: flex;
  justify-content: space-around;
  border-top: .5px solid #0066FF;
  padding: 20px 0;
  width: 90%;
  margin: 0 auto;
  font-size: 18 px;
}

.person h3 {
  margin: 0;
  font-size: 18px;
}

.person form {
  padding-top: 20px;
}

.person input {
  height: 20px;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0.5px solid #ffffff;
}

.button {
  text-align: center;
  border-top: 0.5px solid #0066FF;
  padding: 20px 0;
  width: 90%;
  margin: 0 auto;
}

button {
  background-color: #0066FF;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  border: 0.5px solid #ffffff;
  padding: 5px 8px;
}

.breakdown {
  width: 350px;
}

.person-details {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.person-details p {
  margin: 0px;
}

.breakdown h3 {
  text-align: center;
  font-size: 16px;

}

@media (max-width: 1000px) {
  .person {
    display: block;
  }

  .breakdown {
    margin: 0 auto;
  }

  .total-details {
    width: 350px;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .total-details h3 {
    text-align: center;
  }
}